.font-heading {
  font-weight: bold;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

section > div {
  background-color: #cbddd1;
  padding: 12px;
  border-radius: 20px;
}
.header-left {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(4, 1fr);
}
.header-right {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 8px;
}
.header-right-info {
  display: grid;
  background: white;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}
.header-right-info > div {
  background-color: #cbddd1;
  border-radius: 30px;
  text-align: center;
  padding: 12px;
}
main {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 17px;
}
.main-section {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 7px;
}
.main-section > div {
  background-color: #cbddd1;
  border-radius: 30px;
  padding: 12px;
}
